body {
    background-color: #F2E9E0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    
}

.main-content {
    text-align: center;
    position: relative;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1 {
    text-align: center;
    font-size: 3em;
    letter-spacing: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden; 
    animation: fadeIn 2s ease-out forwards; 
    position: relative; 
    z-index: 3; 
}

h1 span {
    display: inline-block;
    opacity: 0; 
    animation: letterAnimation 0.5s ease-out forwards; 
}

@keyframes letterAnimation {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 span:nth-child(1) { animation-delay: 0.2s; }
h1 span:nth-child(2) { animation-delay: 0.4s; }
h1 span:nth-child(3) { animation-delay: 0.6s; }
h1 span:nth-child(4) { animation-delay: 0.8s; }
h1 span:nth-child(5) { animation-delay: 1.0s; }
h1 span:nth-child(6) { animation-delay: 1.2s; }
h1 span:nth-child(7) { animation-delay: 1.4s; }
h1 span:nth-child(8) { animation-delay: 1.6s; }
h1 span:last-child { animation-delay: 1.8s; }



@keyframes fadeInCircleOne {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.circle.one {
    position: absolute;
    width: 90px;
    height: 90px;
    background-color: #A7D6A3;
    border-radius: 50%;
    z-index: 2;
    top: 50%;
    left: calc(50% + 257px);
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fadeInCircleOne 1s ease-out forwards;
    animation-delay: 2.2s; 
}

@keyframes fadeInCircleTwo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.circle.two {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: #BD6060;
    border-radius: 50%;
    z-index: 2;
    top: calc(50% - 55px);
    left: calc(50% + 400px);
    transform: translate(-50%, -50%);
    opacity: 0; 
    animation: fadeInCircleTwo 1s ease-out forwards;
    animation-delay: 6.1s; 
}



@keyframes fadeInCircleThree {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.circle.three {
    position: absolute;
    width: 110px;
    height: 110px;
    background-color: #60A1BD;
    border-radius: 50%;
    z-index: 2;
    top: calc(50% + 140px);
    left: calc(50% + 470px);
    transform: translate(-50%, -50%);
    opacity: 0; 
    animation: fadeInCircleThree 1s ease-out forwards;
    animation-delay: 6.1s; 
}


@keyframes fadeInCircleFour {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.circle.four {
    position: absolute;
    width: 55px;
    height: 55px;
    background-color: #DDCB70;
    border-radius: 50%;
    z-index: 2;
    top: calc(50% + 190px);
    left: calc(50% + 250px);
    transform: translate(-50%, -50%);
    opacity: 0; 
    animation: fadeInCircleFour 1s ease-out forwards;
    animation-delay: 6.1s; 
}


@keyframes fadeInBlackCircle {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.circle.black {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    z-index: 2;
    top: calc(50% + 105px);
    left: calc(50% + 355px);
    transform: translate(-50%, -50%);
    opacity: 0; 
    animation: fadeInBlackCircle 1s ease-out forwards;
    animation-delay: 4.1s; 
}

@keyframes lineOneAnimation {
    0% {
        height: 0;
    }
    100% {
        height: 75px; 
    }
}

.line.one::after {
    content: '';
    position: absolute;
    width: 1px; 
    height: 0; 
    background-color: black;
    top: calc(50% + 34px); 
    left: calc(50% + 285px); 
    transform-origin: top center; 
    transform: rotate(315deg); 
    z-index: 2;
    animation: lineOneAnimation 1s ease-out forwards; 
    animation-delay: 3.1s; 
}


@keyframes lineTwoAnimation {
    0% {
        height: 0;
    }
    100% {
        height: 114px; 
    }
}

.line.two::after {
    content: '';
    position: absolute;
    width: 1px; 
    height: 0; 
    background-color: black;
    top: calc(50% + 91px);
    left: calc(50% + 360px);
    transform-origin: top center; 
    transform: translateX(-50%) rotate(195deg);
    z-index: 2;
    animation: lineTwoAnimation 1s ease-out forwards; 
    animation-delay: 5.1s; 
}


@keyframes lineThreeAnimation {
    0% {
        height: 0;
    }
    100% {
        height: 50px; 
    }
}

.line.three::after {
    content: '';
    position: absolute;
    width: 1px; 
    height: 0; 
    background-color: black;
    top: calc(50% + 110px);
    left: calc(50% + 370px);
    transform-origin: top center; 
    transform: translateX(-50%) rotate(290deg);
    z-index: 2;
    animation: lineThreeAnimation 1s ease-out forwards; 
    animation-delay: 5.1s; 
}


@keyframes lineFourAnimation {
    0% {
        height: 0;
    }
    100% {
        height: 101px; 
    }
}

.line.four::after {
    content: '';
    position: absolute;
    width: 1px; 
    height: 0; 
    background-color: black;
    top: calc(50% + 110px);
    left: calc(50% + 350px);
    transform-origin: top center; 
    transform: translateX(-50%) rotate(50deg);
    z-index: 2;
    animation: lineFourAnimation 1s ease-out forwards; 
    animation-delay: 5.1s; 
}

input[type="radio"] {
    margin-right: 50px; 
    vertical-align: middle; 
}

.radio-container {
    margin-top: 5px; 
}

label {
    display: block; 
    text-align: center; 
    position: relative;
    margin-bottom: 5px; 
}

label {
    top: 0px; 
    margin-right: 45px;
    white-space: nowrap;
}


.centered-container {
    text-align: center;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 300px; 
}

.upload-label {
    font-size: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #000; 
    padding: 5px 5px; 
    border-radius: 8px; 
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    margin: 5px;
}


.action-button {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 2px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #F2E9E0;
    border: 2px solid #000;
    color: black; 
}


.plain-text-button {
    padding: 10px 10px;
}

.mind-map-button {
    padding: 10px 10px;
}

.quiz-button {
    padding: 10px 10px;
}

.about-button {
    position: absolute;
    top: 20px; 
    right: 20px; 
    z-index: 9999; 
    cursor: pointer;
}

.about-text {
    font-family: 'Inter', sans-serif;
    display: inline-block;
    font-size: 22px;
    font-weight: 400;
    position: relative;
    padding-bottom: 5px;
}

.about-text::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: #A7D6A3; 
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease; 
}

.about-button:hover .about-text::after {
    width: 0; 
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 9998; 
}

.about-popup {
    font-family: 'Inter', sans-serif;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    z-index: 9999; 
    border-radius: 10px; 
    text-align: center;
}













